/* From uiverse.io by @meermubashar */
button {
    width: 140px;
    height: 45px;
    font-size: 20px;
    cursor: pointer;
    border-bottom: none;
    border-top: none;  
    margin: 0;  
    outline: none;
    background: transparent;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: -1;
    transition: all 0.5s;
   }
   
   button:hover::before {
    width: 100%;
   }
   
   button:hover {
    color: rgb(226, 226, 226);
   }
   
   button:active:before {
    background: #ec5050;
   }

   a{
       text-decoration: none;
   }
   .nave{

       display: flex;
       align-items: center;
       justify-content: center;
       border: solid;
       border-top: none;
       border-left: none;
       border-right: none;
       
       
   }